.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */

.card {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 24px 32px;
  max-width: 340px;
  margin: 30px 0;
}

@media screen and (min-width: 996px) {
  .card {
    margin: 30px 30px;
  }
}

.card-heading {
  font-family: 'Roboto';
  color: #171f46;
  font-size: 18px;
  font-weight: bold;
}

.card-description {
  font-family: 'Roboto';
  font-size: 14px;
  color: #64748b;
}

.image-container {
  display: flex;
  justify-content: flex-end;
}

.card-image {
  height: 80px;
}
